{% extends 'base.html' %} {% block title %}
<title>Home</title>
{% endblock title %} {% block content %}

<!--Hero-->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Plataforma de Planejamento do Professor</h1>
    <h2>
      Crie e gerencie seus planos de aula em um só lugar, alinhados ao Documento
      Currícular do RN
    </h2>
    <a href="courses.html" class="btn-get-started">Cadastre-se já</a>
  </div>
</section>

<!--End Hero-->

{% endblock content %}
