{% extends 'base.html' %} {% block title %}
<title>Home</title>
{% endblock title %} {% block content %}

<!--Hero-->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Plataforma de Planejamento do Professor</h1>
    <h2>
      Crie e gerencie seus planos de aula em um só lugar, alinhados ao Documento
      Currícular do RN
    </h2>
    <a href="#" class="btn-get-started">Cadastre-se já</a>
  </div>
</section>
<!--End Hero-->

<!-- ======= breadcrumbs - Planos de aula ======= -->
<div class="breadcrumbsplanos" data-aos="fade-in">
  <div class="container">
    <h2>Planos de aula</h2>
  </div>
</div><!-- Fim breadcrumbs - planos de aula -->

<main>
  <div class="container">
    <!-- Carrosel -->
    <div id="mainSlide" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mainSlide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mainSlide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <br>
    <br>
    <!--  Carrosel 2-->
    <div id="mainSlide" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mainSlide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mainSlide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <br>
    <br>
    <!--  Carrosel 3 -->
    <div id="mainSlide" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/matematicaCartaz.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mainSlide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mainSlide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     

      <br>
      
    </div>
  </div>

<!-- PLANOS MOSTRADOS EM FORMA DE CARDS -->
<!--
  
<div id="team-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
-->

<!--  FIM DOS CARDS-->

<!-- ======= breadcrumbs - Curiosidade ======= -->
<div class="breadcrumbsplanos" data-aos="fade-in">
  <div class="container">
    <h2>Não sabe por onde começar ou está ficando cansativo criar um plano de aula? </h2>
  </div>
</div><!-- Fim breadcrumbs - Curiosidade -->
</main>



{% endblock content %}
