{% extends 'base.html' %} {% block title %}
<title>Planos</title>
{% endblock title %}
{% block content %}


<br>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
        <h2>Planos de aulas</h2>
        <!--A ideia era por um textinho embaixo
        <p>Tenha um melhor desempenho em seus planejamentos escolares!</p>
        -->
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Filtro ======= -->
    <br>
    <div class="filtrobase navbar-light bg-light">
      <div class="container d-flex justify-content-around">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Disciplina
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Artes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Ciências
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Eduação Física
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Geografia
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                História
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Inglês
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Língua Portuguesa
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Matemática
              </label>
            </div>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ano
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <label>Fundamental I</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                1º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                2º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                3º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                4º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                5º Ano
              </label>
            </div>
            <label>Fundamental II</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                6º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                7º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                8º Ano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                9º Ano
              </label>
            </div>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenação
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="">
              <label class="form-check-label" for="flexRadioDefault1">
                Padrão
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="">
              <label class="form-check-label" for="flexRadioDefault1">
                Disciplina
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="">
              <label class="form-check-label" for="flexRadioDefault1">
                Data de publicação
              </label>
            </div>
          </ul>
        </div>
        <div class="form">
          <form class="d-flex">
            <div class="col-8">
              <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
            </div>
            <div class="col-1">
              <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <!-- ======= Fim Filtro ======= -->
   
    <!-- ======= Planos ======= -->
    <div id="conteudo" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.svg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h6 class="text-muted">0xx0000x0</h6>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            
        </div>
    </div>
    <!-- ======= Fim Planos ======= -->

</main>

<!-- End #main -->


{% endblock content %}