{% extends 'base.html' %} {% block title %}
<title>Planos</title>
{% endblock title %}
{% block content %}


<br>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
        <h2>Planos de aulas</h2>
        <!--A ideia era por um textinho embaixo
        <p>Tenha um melhor desempenho em seus planejamentos escolares!</p>
        -->
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Filtro ======= -->
    <p> FILTROS AQUI</p>
    <!-- ======= Fim Filtro ======= -->
   
    <!-- ======= Planos ======= -->
    <div class="container">
        <div class="row ">
          <div class="col-md-3">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizados 3 minutos atrás</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizados 3 minutos atrás</small>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizados 3 minutos atrás</small>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizados 3 minutos atrás</small>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- ======= Fim Planos ======= -->

</main>

<!-- End #main -->


{% endblock content %}