{% extends 'base.html' %} {% block title %}
<title>Planos</title>
{% endblock title %}
{% block content %}


<br>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
        <h2>Planos de aulas</h2>
        <!--A ideia era por um textinho embaixo
        <p>Tenha um melhor desempenho em seus planejamentos escolares!</p>
        -->
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Filtro ======= -->
    <br>
    <div class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div>
          <p>MENU</p>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <!-- ======= Fim Filtro ======= -->
   
    <!-- ======= Planos ======= -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-6">
              <div class="card">
                <img class="card-img-top" src="/static/img/logo.jpeg" alt="Imagem de capa do card">
                <div class="card-img-overlay">
                  <h5>0xx0000x0</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">publicado em xx/xx/xxxx</small>
                  <br>
                  <small class="text-muted">atualizado a x tempo</small>
                </div>
              </div>
            </div>
            
        </div>
    </div>
    <!-- ======= Fim Planos ======= -->

</main>

<!-- End #main -->


{% endblock content %}