{% extends 'base.html' %} {%load static %} 
{% block content %}

<!--Hero-->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Plataforma de Planejamento do Professor</h1>
    <h2>
      Crie e gerencie seus planos de aula em um só lugar, alinhados ao Documento
      Currícular do RN
    </h2>
    <a href="#" id="btn-register" class="btn-get-started" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastre-se já</a>
  </div>
</section>
<!--End Hero-->


<!-- PLANOS MOSTRADOS EM FORMA DE CARDS -->
<!--
  
<div id="team-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="/static/img/matematicaCartaz.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text">Esse é o plano de matemática</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
-->

</section>
{% endblock content %}
